body{
	justify-content: center;
	align-items: center;
	background: #edeaff;
}
.container{
	height:400px;
	width: 500px;
	margin-top: 200px;
	padding-top: 70px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(stop/images/background.png);
  text-align: center;
	border-radius: 30px;
    
}
.btn{
	height: 100px;
	padding: 5% 5%;
	font-size: 2rem;
	width: 400px;
}

.buttons{
	padding: 5% 5%
}
.c{
	margin-bottom: 20px;
}